<!DOCTYPE html>
<html>
  <head>
    <title></title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    #include("base/baseChild.vm")

  </head>
<body>
<form class="form-inline definewidth m20" action="index.html" method="get">    
             起始日期：
     <input type="text" id="StartDate" name="StartDate"  value="$!{startDate}"
     onFocus="var getEndDate=$dp.$('EndDate');WdatePicker({doubleCalendar:true,onpicked:function(){EndDate.focus();},maxDate:'#F{$dp.$D(\'EndDate\')}'})" readonly="readonly" class="input" />
             至
     <input type="text" id="EndDate" name="EndDate" value="$!{endDate}"  
     onFocus="WdatePicker({doubleCalendar:true,minDate:'#F{$dp.$D(\'StartDate\')}'})" readonly="readonly" class="input" />
     <button type="button" class="btn btn-primary" id="searchData">日志查询</button>
</form>
<form class="form-inline definewidth m20" action="index.html" method="get">    
             起始日期：
     <input type="text" id="StartHotDate" name="StartHotDate"  value="$!{startHotDate}"
     onFocus="var getEndDate=$dp.$('EndHotDate');WdatePicker({doubleCalendar:true,onpicked:function(){EndHotDate.focus();},maxDate:'#F{$dp.$D(\'EndHotDate\')}'})" readonly="readonly" class="input" />
             至
     <input type="text" id="EndHotDate" name="EndHotDate" value="$!{endHotDate}"  
     onFocus="WdatePicker({doubleCalendar:true,minDate:'#F{$dp.$D(\'StartHotDate\')}'})" readonly="readonly" class="input" />
     <button type="button" class="btn btn-primary" id="searchHotData">热度查询</button>
</form>

<form method="post" id="form_id" action="${path}/Video/log_analyseLog_index.php">
<input type="hidden" name="startLogDate" id="startLogDate" value="$!{startDate}"/>
<input type="hidden" name="endLogDate" id="endLogDate" value="$!{endDate}"/>
<input type="hidden" name="startHotDate" id="startHotDate" value="$!{startHotDate}"/>
<input type="hidden" name="endHotDate" id="endHotDate" value="$!{endHotDate}"/>
</form> 
$!{htmlPaging}
<table class="table table-bordered table-hover definewidth m10"> 
    <thead>
    <tr>
        <th>编号</th>
        <th>影视名称</th>
        <th>导演</th>
        <th>演员</th>
        <th>图片</th>
        <th>分数</th>
        <th>时长/剧集</th>
       <!--  <th>播放地址</th> -->
        <th>类别</th>
        <th>地区</th>
        <th>年份</th>
        <th>导航</th>
        <th>热度</th>
        <th>操作</th> 
    </tr>
    </thead>
    <tbody id="tbodyData">
          #foreach($item in $videoHeadList)
	     <tr>
          <td>$!{item.id}</td>
           <td>$!{item.videoName}</td>
           <td>$!{item.director}</td>
           <td width="10%">$!{item.actorsStr}</td>
           <td><img src="$!{item.adImgUrl}" style="width:80px;height:80px;"></td>
           <td>$!{item.score}分</td>
           <td width="10%">
           $!{item.length}
            $!{item.episode}
           </td>
           <td>$!{item.typeStr} </td>
           <td>$!{item.areaStr}</td>
           <td>$!{item.yearStr}</td>
           <td>$!{item.navType}</td>
           <td>$!{item.hotCount}</td>
            <td>
                <a href="edit.html">编辑</a>                
            </td>
        </tr>	
     #end
     </tbody>
</table>
$!{htmlPaging}
  </body>
</html>
