<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    #include("base/baseChild.vm")
  </head>
  
  <body>
   <form class="form-inline definewidth m20" action="index.html" method="get">    
       地区类别：
    <input type="text" name="navigation" id="navigation" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary" id="searchVideoArea">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addVideoArea">新增地区</button>
</form>
<div class="btn-group" style="margin:30 50 20 0">
   <button class="btn btn-large">影视类型</button>
   <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="${path}/Video/video_area_index.php">所有</a></li>
    #foreach($item in $navList)
    <li><a href="${path}/Video/video_area_index.php?nav_id=${item.id}">$!{item.name}</a></li>
    #end
  </ul>
 </div>
<form method="post" id="form_id" action="${path}/Video/video_area_index.php">
<input type="hidden" name="nav_id" id="nav_id" value="${nav_id}">
</form> 
${htmlPaging}
<table class="table table-bordered table-hover definewidth m10"> 
    <thead>
    <tr>
        <th>编号</th>
        <th>地区</th>
        <th>参数</th>
        <th>导航</th>
        <th>操作</th>
    </tr>
    </thead>
          #foreach($item in $list)
	     <tr>
            <td>$!{item.id}</td>
            <td>$!{item.name}</td>
            <td>$!{item.param}</td>
            <td>$!{item.navigation.name}</td>
            <td>
                <a href="javascript:MyAjaxHelper.ToUpdateVideoArea(${item.id},${pageNum});">编辑</a>                
            </td>
        </tr>	
     #end
</table>
${htmlPaging}
  </body>
</html>
