<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("base/baseChild.vm")
    <meta charset="UTF-8">
</head>
<body>
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">用户名名称</td>
        <td><input type="text" name="userName" id="userName" value="${entity.username}"/></td>
        <td><input type="hidden" name="user_id" id="user_id" value="${entity.id}"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">用户名密码</td>
        <td><input type="text" name="userPassword" id="userPassword" value="${entity.password}"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">用户名描述</td>
        <td><input type="text" name="userDescription" id="userDescription" value="${entity.description}"/></td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="button" class="btn btn-primary" type="button" id="updateUser">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="back_user" id="back_user">返回列表</button>
        </td>
    </tr>
</table>
</body>
</html>