
<!DOCTYPE HTML>
<html>
 <head>
  <title>后台管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--base  -->
   #include("base/base.vm")
 </head>
 <body>

  <div class="header">
    
      <div class="dl-title">
       <!--<img src="/chinapost/Public/assets/img/top.png">-->
      </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">root</span>
    <a  href="javascript:void();" onclick="logout();" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
  </div>
   <div class="content">
    <div class="dl-main-nav">
      <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
      <ul id="J_Nav"  class="nav-list ks-clear">
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>		
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>  
        		<!-- <li class="nav-item dl-selected"><div class="nav-item-inner nav-order">视频管理</div></li>  -->
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">缓存管理</div></li>
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">反馈管理</div></li>      

      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
   </div>
 </body>
</html>