<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("base/baseChild.vm")
    <meta charset="UTF-8">
</head>
<body>
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">导航名称</td>
        <td><input type="text" name="navName" id="navName"/></td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="button" class="btn btn-primary" type="button" id="saveNav">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="back_Nav" id="back_Nav">返回列表</button>
        </td>
    </tr>
</table>
</body>
</html>