<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("base/baseChild.vm")
    <meta charset="UTF-8">
</head>
<body>
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">电影地区名称</td>
        <td><input type="text" name="videoarea_name" id="videoarea_name" value="${entity.name}"/></td>
        <td><input type="hidden" name="videoarea_id" id="videoarea_id" value="${entity.id}"/></td>
        <td><input type="hidden" name="pageNum" id="pageNum" value="${pageNum}"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">电影地区参数</td>
        <td><input type="text" name="param" id="param" value="${entity.param}"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">电影地区导航</td>
        <td>
			<select> 
				#foreach($item in $navList)
				<option value="$!{item.name}" name="videoArea_navigation_name" #if($!{item.name}==$!{entity.navigation.name}) selected #end >
				$!{item.name}
				</option> 
				#end
			 </select>
		</td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="button" class="btn btn-primary" type="button" id="updateVideoArea">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="back_videoarea" id="back_videoarea">返回列表</button>
        </td>
    </tr>
</table>
</body>
</html>