<div class="container_1">

    <div class="container_slider">
        <div data-am-widget="slider" class="am-slider am-slider-c3" data-am-slider='{&quot;controlNav&quot;:false}'>
            <ul class="am-slides">
                #foreach($item in $movieAdList)
                    <li>
                        <a href="play_movie#if(${item.videoArea.navigation.id}==1)movie#elseif(${item.videoArea.navigation.id}==2)tv#end.php?video_head_id=$!{item.id}"  target="_blank"><img src="$!{item.bigAdImgUrl}"></a>
                        <div class="am-slider-desc">
                            <div class="playmark"></div>
                            <a href="play_movie#if(${item.videoArea.navigation.id}==1)movie#elseif(${item.videoArea.navigation.id}==2)tv#end.php?video_head_id=$!{item.id}"  target="_blank">
                                <span class="green_font">$!{item.videoName}</span>&nbsp;&nbsp;&nbsp;$!{item.title}
                            </a></div>
                    </li>
                #end
            </ul>
        </div>
    </div>
    <div class="home_tabpage" id="tabpage">
        <ul class="home_tab">
            <li id="home_tab_to_1" class="no"><a href="#" onmouseover="home_tab('home_tab',5,1)">热榜</a></li>
            <li id="home_tab_to_2"><a href="#" onmouseover="home_tab('home_tab',5,2)">电影</a></li>
            <li id="home_tab_to_3"><a href="#" onmouseover="home_tab('home_tab',5,3)">电视剧</a></li>
            <li id="home_tab_to_4"><a href="#" onmouseover="home_tab('home_tab',5,4)">综艺</a></li>
            <li id="home_tab_to_5"><a href="#" onmouseover="home_tab('home_tab',5,5)">动漫</a></li>
        </ul>
        <div class="home_tab_mo">
            <div id="home_tab_mo_1">
                <div class="rank_list">
                    <ul>
                        #foreach($item in $allHotNotice)
                        <li #if(${velocityCount} < 4) class="topthree" #end ><span class="num_list">$velocityCount</span>
                        <a href="play_movie.php?video_head_id=${item.id}"  target="_blank">
                            <span class="text">$!{item.title}</span>
                        #*<span class="grade #if($!{item.score}>=9) red #elseif($!{item.score}>8) yellow #else green #end"></span>
                        $!{item.score}分</span></a></li>*#
                        #end
                    </ul>
                </div>
            </div>
            <div id="home_tab_mo_2" style="display:none">
                <div class="rank_list">
                    <ul>
                        #foreach($item in $movieHotNotice)
                        <li #if(${velocityCount} < 4) class="topthree" #end ><span class="num_list">$velocityCount</span>
                        <a href="play_movie.php?video_head_id=${item.id}"  target="_blank">
                            <span class="text">$!{item.title}</span>
                        #end
                    </ul>
                </div>
            </div>
            <div id="home_tab_mo_3" style="display:none">
                <div class="rank_list">
                    <ul>
                        #foreach($item in $tvHotNotice)
                        <li #if(${velocityCount} < 4) class="topthree" #end ><span class="num_list">$velocityCount</span>
                        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank">
                            <span class="text">$!{item.title}</span>
                        #end
                    </ul>
                </div>
            </div>
            <div id="home_tab_mo_4" style="display:none">
                <div class="rank_list">
                    <ul>
                        #foreach($item in $varietyHotNotice)
                        <li #if(${velocityCount} < 4) class="topthree" #end ><span class="num_list">$velocityCount</span>
                        <a href="play_variety.php?video_head_id=${item.id}"  target="_blank">
                            <span class="text">$!{item.title}</span>
                        #end
                    </ul>
                </div>
            </div>
            <div id="home_tab_mo_5" style="display:none">
                <div class="rank_list">
                    <ul>
                        #foreach($item in $cartoonHotNotice)
                        <li #if(${velocityCount} < 4) class="topthree" #end ><span class="num_list">$velocityCount</span>
                        <a href="play_cartoon.php?video_head_id=${item.id}"  target="_blank">
                            <span class="text">$!{item.title}</span>
                        #end
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
