<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>>公司介绍</title>

  #include("base-web/baseWeb.vm")

	
</head>

<body>
#parse("base-web/nav.vm")


<!-- **************************** 主体部分 *************************** -->
<div class="container_body">
    <div class="container_page">
        #parse("base-web/leftTypes.vm")
         <div class="page_side_content">
              <span class="page_title">公司介绍：</span>
              <p class="page_text">南京普阑尼信息技术有限公司由美国PLANISP INC.创始人与宽带资本两位股东投资，
						              是一家致力于提供全方位、一站式信息技术服务的企业。公司着眼于下一代网络技术领域，利用自身技术研发优势及优质资源，
						              积极的将国内外的先进技术、方案和产品引入公司，提供稳定、全面、专业、高效的信息技术服务，以帮助客户提高工作效率，
						              降低运营成本，增强企业核心竞争力，创造社会价值。</p>
              <p class="page_text">公司拥有领先的专业技术和资质认证，具有丰富的信息技术研发和网络运营维护经验，博士、硕士学位占技术人员的40%，
              				    并且还有大量的专业认证人员，如思科、微软、ORACLE、REDHAT、思博伦等，具备大型项目的规划、咨询与实施能力。</p>
              <p class="page_text">公司倡导专业的第三方专业信息技术服务，涵盖从ＩＴ实施咨询服务；基础构架建设；IT运营管理服务；
              				数据中心、网络、服务器、存储维护服务；数据库维护服务；计算机桌面服务；行业应用实施服务；网站建设与推广。
              				作为一个全方位信息技术服务提供商，我们充分利用自身技术优势以及与国内外产品服务提供商长期合作的优势资源，
              				把IT解决方案深入到客户的核心业务当中，使得客户可以最大程度地得益于IT投资、运营支持以及IT产品支持服务。</p>
              <p class="page_text">普阑尼的宗旨是“专注服务，诚信共赢”。我们特别注重用户服务，要求全体员工牢固树立用户第一的思想，
              				强调职业道德，提供最优质的服务。把保护用户投资、满足用户需求贯彻落实在每个项目之中。</p>
         </div>
    </div>

</div>



#include("base-web/foot.vm")



</body>
</html>
