<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>版权说明</title>

  #include("base-web/baseWeb.vm")
</head>

<body>
#parse("base-web/nav.vm")
<!-- **************************** 主体部分 *************************** -->
<div class="container_body">
    <div class="container_page">
         #parse("base-web/leftTypes.vm")
         <div class="page_side_content">
              <span class="page_title">版权说明</span>
              <p class="page_text">版权所有&copy;南京普阑尼信息技术有限公司</p>
         </div>
    </div>

</div>


#include("base-web/foot.vm")


</body>
</html>
