<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>联系我们</title>

  #include("base-web/baseWeb.vm")
</head>

<body>
#parse("base-web/nav.vm")

<!-- **************************** 主体部分 *************************** -->
<div class="container_body">
    <div class="container_page">
        #parse("base-web/leftTypes.vm")
         <div class="page_side_content">
              <span class="page_title">联系我们</span>
              <p class="page_text">客服热线 ：025-68225022</p>
              <p class="page_text">销售热线：18651648996</p>
              <p class="page_text">销售热线2：18651877555</p>
              <p class="page_text">邮箱: service@planisp.com</p>
              <p class="page_text">QQ（吕小伟）: 365701939</p>
              <p class="page_text">QQ（邓先生）: 27085322</p>
              <p class="page_text">公司地址: 南京市雨花区风华路18号C-2F</p>            
         </div>
    </div>

</div>


#include("base-web/foot.vm")



</body>
</html>
