<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VIDEOS | TV</title>
 #include("base-web/baseWeb.vm")
    
</head>

<body>
#parse("base-web/nav.vm")

<!-- **************************** 主体部分 *************************** -->
<div class="container_body">

<!-- ---------- 图片轮播排行榜部分  ------------ -->
#parse("base-web/sliderAdTv.vm")
<!-- container_1 -->

<!-- ------------- 电影分类部分 ------------ -->
#parse("base-web/webTypeList.vm")
<!-- container_1 -->

<!-- ---------------同步跟播部分 -------------- -->
<div class="container_2">
<div class="container_left">
<div class="panel_zn_heading">
  <span class="title_left_font"><i class="glyphicon glyphicon-facetime-video"></i> 同步跟播</span>
  <a href="javascript:void();"><span class="green_font font_right"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</span></a>

</div>
<div class="panel_z_tab_bd">
     <div class="figure_bcrosslist">
  <ul>
  #foreach($item in $UpdateHotList)
  #if(${velocityCount} < 9)
    <li> 
    	<img src='${item.adImgUrl}'>
        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank" class="mark"></a>
      	<div class="mark2">${item.score}分</div>
      	<div class="video_title">${item.videoName}<br /><span class="gray_font sm_font">${item.director}</span></div>
    </li>
    #end
    #end
   
  </ul>

</div>
</div>

</div><!-- container_left -->
#parse("base-web/webHotVideoTv.vm")
<!-- container_right -->

</div><!-- container_2 -->

<!-- --------------- 内地热播部分 -------------- -->
<div class="container_2">
   <div class="panel_fu_heading">
      <span class="title_left_font"><i class="glyphicon glyphicon-tint"></i> 内地热播</span>
      <a href="javascript:void();"><span class="green_font font_right"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</span></a>
  </div>
  <div class="panel_tab_bd">
  <div class="figure_fullbiglist">
  <ul>
    #foreach($item in $ChinaHotList)
    #if(${velocityCount} < 11)
    <li> 
    	<img src='${item.adImgUrl}'>
        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank" class="mark"></a>
      	<div class="mark2">${item.score}分</div>
      	<div class="video_title">${item.videoName}<br /><span class="gray_font sm_font">${item.director}</span></div>
    </li>
    #end
    #end
  </ul>
</div>
</div>
</div><!-- container_2 -->

<!-- --------------- 韩剧热播部分 -------------- -->
<div class="container_2">
   <div class="panel_fu_heading">
      <span class="title_left_font"><i class="glyphicon glyphicon-stats"></i> 韩剧热播</span>
      <a href="javascript:void();"><span class="green_font font_right"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</span></a>
  </div>
  <div class="panel_tab_bd">
  <div class="figure_fullbiglist">
  <ul>
    #foreach($item in $KoreaHotList)
    #if(${velocityCount} < 11)
    <li> 
    	<img src='${item.adImgUrl}'>
        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank" class="mark"></a>
      	<div class="mark2">${item.score}分</div>
      	<div class="video_title">${item.videoName}<br /><span class="gray_font sm_font">${item.director}</span></div>
    </li>
    #end
    #end
  </ul>
</div>
</div>
</div><!-- container_2 -->

<!-- --------------- 港剧热播部分 -------------- -->
<div class="container_2">
   <div class="panel_fu_heading">
      <span class="title_left_font"><i class="glyphicon glyphicon-stats"></i> 港剧热播</span>
      <a href="javascript:void();"><span class="green_font font_right"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</span></a>
  </div>
  <div class="panel_tab_bd">
  <div class="figure_fullbiglist">
  <ul>
    #foreach($item in $HongkongTaiwanList)
    #if(${velocityCount} < 11)
    <li> 
    	<img src='${item.adImgUrl}'>
        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank" class="mark"></a>
      	<div class="mark2">${item.score}分</div>
      	<div class="video_title">${item.videoName}<br /><span class="gray_font sm_font">${item.director}</span></div>
    </li>
    #end
    #end
  </ul>
</div>
</div>
</div><!-- container_2 -->

<!-- --------------- 泰剧热播部分 -------------- -->
<div class="container_2">
   <div class="panel_fu_heading">
      <span class="title_left_font"><i class="glyphicon glyphicon-stats"></i> 美国热播</span>
      <a href="javascript:void();"><span class="green_font font_right"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</span></a>
  </div>
  <div class="panel_tab_bd">
  <div class="figure_fullbiglist">
  <ul>
    #foreach($item in $ThailandList)
    #if(${velocityCount} < 11)
    <li> 
    	<img src='${item.adImgUrl}'>
        <a href="play_tv.php?video_head_id=${item.id}"  target="_blank" class="mark"></a>
      	<div class="mark2">${item.score}分</div>
      	<div class="video_title">${item.videoName}<br /><span class="gray_font sm_font">${item.director}</span></div>
    </li>
    #end
    #end
  </ul>
</div>
</div>
</div><!-- container_2 -->

</div><!-- container_body -->
#include("base-web/foot.vm")
</body>
</html>
