<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VIDEOS | Search</title>
  #include("base-web/baseWeb.vm")
</head>

<body>

#parse("base-web/nav.vm")
   <!-- **************************** 主体部分 *************************** -->
<div class="container_body">
<div class="container_1">
<div class="container_left">
#
<!-- ************电影模版************** -->
     <div class="search_playsource">
     <ul><li>
          <img src='../Images/gujian.jpg'>
          <a href="http://sc.chinaz.com/" class="mark"></a>
      	  <div class="video_title">
      	                       <span class="bigtitle">小时代</span>
      	                       &nbsp;<span class="gray_bigfont">[电影]</span>
      	                       <br /><br /><span class="gray_font">导演：</span>郭敬明
      	                       <br /><span class="gray_font">主演：</span>杨幂、柯震东、郭采洁、谢依霖、郭碧婷
      	                       <br /><span class="gray_font">地区：</span>大陆&nbsp;&nbsp;&nbsp;&nbsp;
      	                       <span class="gray_font">类型：</span>爱情、剧情&nbsp;&nbsp;

      	                       <br /><span class="gray_font">简介：</span>电影小时代，根据同名小说《小时代》改编，由郭敬明编剧与导演，该片由被誉为“台湾偶像剧教母”的柴智屏监制，人气影星杨幂和柯震东主演。
      	                       <div class="right_toptitle">8.9分</div>
      	                       <br /><div style="margin-top:10px;"><a class="playsource_bigplaybtn" href="#" target="_blank"><i class="glyphicon glyphicon-play"></i> 立即播放</a></div>
 
            </div>
     </li></ul>
</div><!-- figure_playsource -->

<hr style="border-top:1px solid #3ba80d;margin-top:35px;" width="100%" color=black size=3>

<!-- ************电视剧模版************** -->
     <div class="search_playsource">
     <ul><li>
          <img src='../Images/gujian.jpg'>
          <a href="http://sc.chinaz.com/" class="mark"></a>
      	  <div class="video_title">
      	                       <span class="bigtitle">古剑奇谭</span>
      	                       &nbsp;<span class="gray_bigfont">[电视剧]</span>
      	                       <br /><br /><span class="gray_font">导演：</span>郭敬明
      	                       <br /><span class="gray_font">主演：</span>杨幂、柯震东、郭采洁、谢依霖、郭碧婷
      	                       <br /><span class="gray_font">地区：</span>大陆&nbsp;&nbsp;&nbsp;&nbsp;
      	                       <span class="gray_font">类型：</span>武侠、仙侠&nbsp;&nbsp;

      	                       <br /><span class="gray_font">简介：</span>盛唐时期，紫胤真人徒弟百里屠苏体内有一股神秘煞气，靠焚寂剑压制。他在翻云寨杀盗匪时结识了欧阳少恭和方兰生。少恭乃青玉坛弟子，长老雷严篡位，少恭出逃后找寻“玉衡”下落。因少恭正炼制起死回生丹药，屠苏觉得有望救醒母亲
      	                       <div class="right_toptitle">8.9分</div>
      	                       
            </div>
     </li></ul>
     </div><!-- search_playsource --> 
<div style="display:block;">
  <ul class="panel_pl_tab">
    <li id="panel_pl_tab_to_1" class="no"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,1)" class="playvideo_icon icon_leshi">乐视</a></li>
    <li id="panel_pl_tab_to_2"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,2)" class="playvideo_icon icon_sohu">搜狐</a></li>
</ul>
</div>
<div class="panel_z_tab_bd" >
    <div id="panel_pl_tab_bd_1">
      <div class="playbtn_list">
      <ul>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>  
   
         </ul>
      </div>
    </div>
    <div id="panel_pl_tab_bd_2" style="display: none;">
       <div class="playbtn_list">
      <ul>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         </ul>
      </div>
      </div>
</div> <!-- panel_body -->
<hr style="border-top:1px solid #3ba80d;margin-top:35px;" width="100%" color=black size=3> <!-- ***电视剧模版*** -->

<!-- ************综艺模版************** -->
     <div class="search_playsource">
     <ul><li>
          <img src='../Images/gujian.jpg'>
          <a href="http://sc.chinaz.com/" class="mark"></a>
      	  <div class="video_title">
      	                       <span class="bigtitle">中国好声音</span>
      	                       &nbsp;<span class="gray_bigfont">[综艺]</span>
      	                       <br /><br /><span class="gray_font">主持：</span>郭敬明
      	                       <br /><span class="gray_font">地区：</span>大陆&nbsp;&nbsp;&nbsp;&nbsp;
      	                       <span class="gray_font">类型：</span>选秀、音乐&nbsp;&nbsp;

      	                       <br /><span class="gray_font">简介：</span>《中国好声音 第三季 》作为中国夏天最火的歌唱类选秀节目，开启了“盲听”选秀新时代。前两季收视火爆稳居冠军之位，在全国范围内掀起了一股好声音热潮。余热未散，全面...
      	                       <div class="right_toptitle">8.9分</div>
      	                       
            </div>
     </li></ul>
     </div><!-- search_playsource --> 
<div style="display:block;">
  <ul class="panel_pl_tab">
    <li id="panel_pl_tab_to_1" class="no"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,1)" class="playvideo_icon icon_leshi">乐视</a></li>
    <li id="panel_pl_tab_to_2"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,2)" class="playvideo_icon icon_sohu">搜狐</a></li>
</ul>
</div>
<div class="panel_z_tab_bd" >
    <div id="panel_pl_tab_bd_1">
      <div class="playbigbtn_list">
      <ul>
         <a href="${obj.playUrl}" target="_blank"><li><span class="gray_font">2014-10-07期 </span>&nbsp;&nbsp;第15期好声音四强巅峰之夜 张碧晨夺得冠军</li></a>
         <a href="${obj.playUrl}" target="_blank"><li><span class="gray_font">2014-10-07期 </span>&nbsp;&nbsp;第15期好声音四强巅峰之夜 张碧晨夺得冠军</li></a>
         <a href="${obj.playUrl}" target="_blank"><li><span class="gray_font">2014-10-07期 </span>&nbsp;&nbsp;第15期好声音四强巅峰之夜 张碧晨夺得冠军</li></a>
         <a href="${obj.playUrl}" target="_blank"><li><span class="gray_font">2014-10-07期 </span>&nbsp;&nbsp;第15期好声音四强巅峰之夜 张碧晨夺得冠军</li></a>
         <a href="${obj.playUrl}" target="_blank"><li><span class="gray_font">2014-10-07期 </span>&nbsp;&nbsp;第15期好声音四强巅峰之夜 张碧晨夺得冠军</li></a>
         <a href="${obj.playUrl}" target="_blank"><li>更多往期节目》</li></a>   <!-- ****放出最近的5期**** -->
         </ul>
      </div>
    </div>
    <div id="panel_pl_tab_bd_2" style="display: none;">
       <div class="playbtn_list">
      <ul>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         </ul>
      </div>
      </div>
</div> <!-- panel_body -->
<hr style="border-top:1px solid #3ba80d;margin-top:35px;" width="100%" color=black size=3> <!-- ***电视剧模版*** -->

<!-- ************动漫模版************** -->
     <div class="search_playsource">
     <ul><li>
          <img src='../Images/gujian.jpg'>
          <a href="http://sc.chinaz.com/" class="mark"></a>
      	  <div class="video_title">
      	                       <span class="bigtitle">火影忍者</span>
      	                       &nbsp;<span class="gray_bigfont">[动漫]</span>
      	                       <br /><br /><span class="gray_font">导演：</span>岸本齐史
      	                       <br /><span class="gray_font">主演：</span>竹内顺子、杉山纪彰、中村千绘
      	                       <br /><span class="gray_font">地区：</span>日本&nbsp;&nbsp;&nbsp;&nbsp;
      	                       <span class="gray_font">类型：</span>热血、冒险&nbsp;&nbsp;

      	                       <br /><span class="gray_font">简介：</span>这是一个忍者的世界。从小身上封印着邪恶的九尾妖狐，鸣人受尽了村人的冷落，只是拼命用各种恶作剧试图吸引大家的注意力。好在还是有依鲁卡老师关心他，鸣人的性格才没有变得扭曲，他总是干劲十足，超级乐观。为了让更多的人认可自..
      	                       <div class="right_toptitle">8.9分</div>
      	                       
            </div>
     </li></ul>
     </div><!-- search_playsource --> 
<div style="display:block;">
  <ul class="panel_pl_tab">
    <li id="panel_pl_tab_to_1" class="no"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,1)" class="playvideo_icon icon_leshi">乐视</a></li>
    <li id="panel_pl_tab_to_2"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,2)" class="playvideo_icon icon_sohu">搜狐</a></li>
</ul>
</div>
<div class="panel_z_tab_bd" >
    <div id="panel_pl_tab_bd_1">
      <ul class="panel_plcartoon_tab">
            <li id="panel_plcartoon_tab_to_1" class="no"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,1)">1-100集</a></li>
            <li id="panel_plcartoon_tab_to_2"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,2)">101-200集</a></li>
            <li id="panel_plcartoon_tab_to_3"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,3)">201-300集</a></li>
            <li id="panel_plcartoon_tab_to_4"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,4)">301-400集</a></li>
            <li id="panel_plcartoon_tab_to_5"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,5)">501-600集</a></li>
            <li id="panel_plcartoon_tab_to_6"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,6)">601-700集</a></li>
            <li id="panel_plcartoon_tab_to_7"><a href="#" onmouseover="panel_tab('panel_plcartoon_tab',7,7)">701-800集</a></li>
            
            <div class="panel_z_tab_bd">

                <div id="panel_plcartoon_tab_bd_1">
                    <div class="playbtn_list">
                       <ul>
               
                          <a href="#" target="_blank"><li>1集</li></a>
                          
                        </ul>
                    </div>
               </div>
               <div id="panel_plcartoon_tab_bd_2" style="display: none;">
                    <div class="playbtn_list">
                       <ul>
               
                          <a href="#" target="_blank"><li>101集</li></a>
                          
                        </ul>
                    </div>
               </div>
                
              
           </div>
    </div>
    <div id="panel_pl_tab_bd_2" style="display: none;">
       <div class="playbtn_list">
      <ul>
         <a href="${obj.playUrl}" target="_blank"><li>1集</li></a>
         </ul>
      </div>
      </div>
</div> <!-- panel_body -->

</div><!-- container_left -->

<!-- ************右侧模版************** -->
<div class="container_right">

  <span class="title_font" style="text-align:left;display:block;margin:5px 0px 10px 0px;">近期热点</span>
  <div class="rank_w_list"><!-- topthree -->
        <ul>
            <li class="topthree"><span class="num_list">1</span><a href="#"  target="_blank"><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span></a></li>
             <li class="topthree"><span class="num_list">2</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li class="topthree"><span class="num_list">3</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li><span class="num_list">4</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li><span class="num_list">5</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li><span class="num_list">6</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li><span class="num_list">7</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
             <li><span class="num_list">8</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
            <li><span class="num_list">9</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
            <li><span class="num_list">10</span><span class="text">古剑奇谭</span><span class="type">李易峰 杨幂</span>
            </li>
        </ul>
  </div>

</div><!-- container_right -->

</div><!-- container_1 -->  
</div><!-- container_body -->    
#include("base-web/foot.vm")
  </body>
</html>
