<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录|LazyVideo平台</title>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <link href="../Css/bootstrap3.min.css" rel="stylesheet" type="text/css"/>
    <link href="../Css/login_style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../Js/bootstrap3.min.js"></script>
    
  </head>
  
  <body>
    <div style="text-align: center">
         <div class="login_center_bg">
                      <span class="login_title_text">LazyVideo平台</span>
                      <div class="input-group" style="margin-top:30px">
                           <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                           <input class="form-control" id="login_username" type="text" placeholder="Username">
                      </div>
                      </br>
        
                      <div class="input-group">
                           <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                           <label class="sr-only" for="exampleInputPassword2">Password</label>
                           <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                      </div>
                      
                      <div class="col-lg-8" style="margin-top:20px;margin-left:-15px;">
                      <div class="input-group input-group-sm">
                           <span class="input-group-addon"><span>验证码</span></span>
                           <input type="text" class="form-control">
                      </div>
                      </div>
                      
                      <img align="absmiddle" onclick="this.src=this.src+'?'" style="cursor: pointer;margin-top:20px;" alt="看不清？点击更换" src="../include/vdimgck.php"/>
                      <div class="checktext">看不清？ <a href="javascript:void(0)" onclick="changeauthcode();">点击更换</a> </div>            
                      
                      <div style="margin-left:-100px;margin-top:30px;" class="checkbox">
                           <label> <input type="checkbox"> Remember me </label>
                      </div>
                      </br>
        
                      <div style="float:right;margin-top:-20px;">
                           <a href="third.html"><button type="button" class="btn login_headbtn btn-lg"><strong>登&nbsp;&nbsp;陆</strong></button></a>
                      </div> 
        
          </div> 
    </div>
    <div id="login_footer">
     <span>版权所有&nbsp;&copy;&nbsp;南京普阑尼信息技术有限公司</span>
    </div>
  </body>
</html>
