<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>$!{entity.title}-在线观看</title>

 
  #include("base-web/baseWeb.vm")

</head>

<body>
#parse("base-web/nav2.vm")

<!-- **************************** 主体部分 *************************** -->
<div class="container_body">
<div class="container_1">
<div class="container_left">
     <div class="figure_playsource">
     <ul><li>
          <img src='${entity.cover}'>
          <a href="http://sc.chinaz.com/" class="mark"></a>
      	  <div class="video_title">
      	                       <span class="bigtitle">$!{entity.title}</span>
      	                       <br /><br /><span class="gray_font">主持人：</span>$!{entity.director}
      	                       <br /><span class="gray_font">类型：</span>$!{entity.type}
      	                       <br /><span class="gray_font">地区：</span>$!{entity.area}  &nbsp;&nbsp;
      	                       <span class="gray_font">年代：</span> $!{entity.year}
      	                       <br /><span class="gray_font">简介：</span>
      	                          <span id="part_intro" style="display:inline;">$!{entity.word}</span>
      	                    
      	                       <br /><span class="gray_font">剧集：</span>$!{entity.upinfo}
    <div style="margin:0px;">
    <span class="gray_font">分享到：</span>
	<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_24x24">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1408006555950819" charset="utf-8"></script>
<!-- JiaThis Button END -->

</div>
     </div>
     </li></ul>
</div><!-- figure_playsource -->


</div> <!-- container_left -->
#parse("base-web/webHotVideoVariety.vm")
<!-- container_right -->

</div> <!-- container_1 -->

<div class="container_1">
<div style="display:block;">
  <ul class="panel_pl_tab">
<!--   <li id="panel_pl_tab_to_1" class="no"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,1)">乐视</a></li>
  <li id="panel_pl_tab_to_2"><a href="#" onmouseover="panel_tab('panel_pl_tab',7,2)">搜狐</a></li> -->
  #foreach($item in $urlEntity.allUrlMap.entrySet())
  <li id="panel_pl_tab_to_${velocityCount}" #if(${velocityCount} == 1) class="no" #end>
     <a onmouseover="panel_tab('panel_pl_tab',$urlEntity.allUrlMap.size(),${velocityCount})">
     <i class="playvideo_icon icon_${item.key}"></i>
     <!--${item.key}--></a></li>
  #end
</ul>
</div>
<div class="panel_tab_bd" >
   #foreach($item in $urlEntity.allUrlMap.entrySet())
    <div id="panel_pl_tab_bd_${velocityCount}" #if(${velocityCount} != 1) style="display: none;"#end>
      <div class="figure_crosslist">
  <ul>
      #foreach($obj in $item.value)
      <!--<a href="${obj.url}" target="_blank" class="mark">$!{obj.name}</a>-->
      <li>
    	<img src='${obj.cover}'>
        <a href="${obj.url}" target="_blank" class="mark">$!{obj.name}</a>
      	<div class="mark2">$!{obj.name}</div>
      	<div class="video_title">$!{obj.desc}<br /><span class="gray_font sm_font">$!{obj.name}</span></div>
      </li>
      #end
       </ul>
       </div>
        <div class="pagination pagination-centered">
           <ul>
              <li><a href="#">首页</a></li>
              <li><a href="#">上一页</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">下一页</a></li>
              <li><a href="#">尾页</a></li>
          </ul>
      </div>
    </div>
    #end
</div> <!-- panel_body -->

</div> <!-- container_1 -->

</div> <!-- container_body -->
#include("base-web/foot.vm")
</body>
</html>
